NEXT_PUBLIC_SUPABASE_URL=https://pvndddmbppepbllpioab.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ZIJOIOMOjkgodmEG6Gqeyw_iWNDd4PU
NEXT_PUBLIC_SUPABASE_PROJECT_ID=pvndddmbppepbllpioab
NEXT_PUBLIC_API_BASE_URL=

# Supabase Compras
NEXT_PUBLIC_SUPABASE_COMPRAS_URL=https://qqwibnpyydcxazkxdifg.supabase.co
NEXT_PUBLIC_SUPABASE_COMPRAS_ANON_KEY=
